<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script type="application/javascript">
      // access template parameters
      window.config = {
        exampleParameter: '<%= exampleParameter %>'
      };
    </script>
  </head>
  <body>
  <div class="my-image-selector">
<!--    <input class="btn" type='text' id="full"/>-->
    <button class="btn" id="save-image">Save</button>
  </div>

  <div style="margin-top:35px">
    <div id="myCanvas" style="position:relative"></div>
  </div>
  </body>
</html>
